* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

}

body {
    background-color: #5E1224;
    font-family: 'Playfair Display SC', serif;
}

.navbar {
    width: 100%;
    height: 72px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    border-bottom: 1px solid #E2C582;
    background-color: #5E1224; /* ← mantém a cor do fundo */
}

.navbar img {
    height: 52px;
}

.nav-links ul {
    display: flex;
    gap: 80px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.nav-links a:hover {
    color: #E2C582;
}

.nav-btn {
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #E2C582;
    color: #5E1224;
    font-family: 'Playfair Display SC', serif;
    font-weight: 400;
    cursor: pointer;
}

#home {
    padding-top: 72px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #5E1224 17%, #C4264B 100%);
    padding-left: 80px;
    padding-right: 80px;
}

.hero-content {
    width: 100%;
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.hero-text {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.hero-subtitle {
    font-family: 'Playfair Display SC', serif;
    font-size: 13px;
    font-weight: 400;
    color: #E2C582;
    letter-spacing: 2px;
}

.hero-text h1 {
    font-family: 'Playfair Display', serif;
    font-size: 64px;
    font-style: italic;
    font-weight: 400;
    line-height: 1.1;
    color: white;
}

.hero-text h1 span {
    color: #C1A461;
}

.hero-text p {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    font-weight: 200;
    line-height: 1.7;
    color: white;
}

.hero-buttons {
    display: flex;
    align-items: center;
    gap: 24px;
}

.primary-btn {
    font-family: 'Playfair Display', serif;
    width: 130px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    background: transparent;
    border: 2px solid #C1A461;
    border-radius: 12px;
    transition: 0.1s;
    margin-right: 25px;
}

.primary-btn:hover {
    background-color: #C1A461;
    color: #5E1224;
    transform: translateY(-2px);
    font-weight: 600;
}

.secondary-btn {
    font-family: 'Playfair Display', serif;
    font-size: 13px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    border-bottom: 2px solid #C1A461;
    padding-bottom: 2px;
    transition: 0.1s;
}

.secondary-btn:hover {
    color: #C1A461;
    transform: translateY(-2px);
    font-weight: 600;
}

.hero-image img {
    width: 500px;
}

#populares {
    background-color: #ffffff;
    padding: 75px 80px;
}

.popular-content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.popular-subtitle {
    display: block;
    text-align: center;
    font-family: 'Playfair Display SC', serif;
    font-size: 13px;
    letter-spacing: 2px;
    color: #C4264B;
    text-transform: uppercase;
}

.popular-top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 35px;
    padding-bottom: 15px;
    border-bottom: 1px solid #C1A461;
}

.popular-top h2 {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    font-style: italic;
    font-weight: 400;
    color: #C4264B;
    margin: 0;
}

.popular-top a {
    text-decoration: none;
    color: #C4264B;
    font-size: 15px;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
}

.drinks-grid {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 20px;
}

.drink-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.drink-number {
    font-family: 'Playfair Display', serif;
    font-size: 64px;
    color: #C4264B;
    margin-bottom: 10px;
}

.drink-img-container {
    width: 320px;
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 25px;
}

.matcha-glow .drink-img-container {
    background: radial-gradient(circle, #3B4E0C 0%, #ffffff 70%);
}

.cappuccino-glow .drink-img-container {
    background: radial-gradient(circle, #974B00 0%, #ffffff 70%);
}

.strawberry-glow .drink-img-container {
    background: radial-gradient(circle, #FF003B 0%, #ffffff 70%);
}

.drink-card img {
    max-height: 260px;
    object-fit: contain;
}

.drink-card h3 {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-style: italic;
    font-weight: 600;
    color: #5E1224;
    margin: 0;
}

.drink-card p {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    color: #5E1224;
    margin: 5px 0 10px 0;
    font-weight: 400;
}

.stars {
    color: #F7FF59;
    text-shadow: 0px 0px 1px #E1C16E;
    font-size: 24px;
    letter-spacing: 2px;
}

/* SECTION - SOBRE */
#sobre {
    min-height: 80vh;
    display: flex;
}

.about-image {
    width: 50%;
    min-height: 80vh;
    background-color: #C1A461;
    background-image: url(assets/about/about-bg.png);
    background-repeat: repeat;
    background-size: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-image img {
    width: 550px;
    height: auto;
}

.about-content {
    width: 50%;
    background-color: #E8CB88;
    padding: 50px 90px 60px 60px;
}

.about-subtitle {
    display: block;
    font-family: 'Playfair Display SC', serif;
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #5E1224;
}

.about-text {
    margin-top: 32px;
}

.about-text h2 {
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 1.3;
    color: #5E1224;
}

.about-text h2 span {
    color: #ffffff;
    font-style: italic;
}

.about-text p {
    margin-top: 20px;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    line-height: 1.8;
    color: #5E1224;
}

.about-divider {
    width: 100%;
    height: 1px;
    margin: 30px 0;
    background-color: #5E1224;
    opacity: 0.2;
}

.quote-box {
    max-width: 520px;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 35px 40px;
    background-color: #F5D895;
    border-left: 5px solid #C1A461;
    border-radius: 6px;
}

.quote-text {
    max-width: 420px;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    line-height: 1.7;
    font-style: italic;
    color: #5E1224;
}

.quote-author {
    display: block;
    margin-top: 18px;
    font-family: 'Playfair Display SC', serif;
    font-size: 14px;
    letter-spacing: 1px;
    color: #5E1224;
}